.login-color {
    background-color: #557E74;
    box-shadow: inset;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.orange-close {
    background-color: #E6C24D;
}

.form-control:focus {
    color: #E6C24D !important;
    background-color: #fff !important;
    border-color: #E6C24D !important;
    outline: 0;
}

.form-control {
    border: 2px solid #E6C24D!important;
}


.modal-content-login{
    height:20em
}

.modal-content-register{
    height:28em
}
