@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url(../static/font/Rubik-SemiBoldItalic.ttf) format('truetype');
}

.font {
    font-family: 'Rubik';
}

.color-lightgreen {
    background-color: #557E74;
}

.color-green {
    background-color: #426F6A;
}

.color-yellow {
    background-color: #D9DBA9;
}

.color-orange {
    background-color: #E6C24D;
}


.color-txt-green {
    color: #426F6A;
}

.color-txt-yellow {
    color: #D9DBA9;
}


.color-txt-orange {
    color: #E6C24D
}

.color-txt-dark {
    color: black
}

.color-red {
    background-color: #ff0000;
}


.App {
    height: 100vh;
}


.pc-backgound {
    background-image: url(/public/img/pcFond.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh
}

.button-border {
    border: 1px solid #E6C24D;
    padding: 5px;
}

.opacity2 {
    background-color: rgba(66, 111, 106, 0.9);
}


.hauteurOrder {
    height: calc(82vh - 5em);
    width: 103vh;
}


.stickyAff {
    position: fixed;
    top: 100px;
}


@media (max-width: 768px) {
    .stickyAff {
        position: sticky;
        bottom: 100px;
    }
}

.logo-center {
    position: absolute;
    top: 0.5em;
    margin-left: calc(50% - 82px);
    justify-content: center;

}

.modalTable {
    overflow-y: scroll;
}

.cursor {
    cursor: pointer;
}

.footer-shadow {
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.56);
}

.liste-puce {
    list-style: none;
    
}
