@font-face {
    src: local('Rubik'), url(../static/font/Rubik-Medium.ttf) format('truetype');
    font-family: 'Rubik';
}

body {
    font-family: 'Rubik', Verdana;
}

.color1 {
    color: #000053;
}

.color2 {
    color: #06286b;
}

.color3 {
    color: #5a5386;
}

.color4 {
    color: #9186a3;
}

.color5 {
    color: #bdb8c0;
}

.color6 {
    color: black; 
}

.color8 {
    color: white
}

.bg-color1 {
    background-color: #000053;
}

.bg-color2 {
    background-color: #06286b;
}

.bg-color3 {
    background-color: #5a5386;
}

.bg-color4 {
    background-color: #9186a3;
}

.bg-color5 {
    background-color: #bdb8c0;
}



.btn-hover:hover {
    text-decoration: underline;
    transition: all 0.4s ease
} 


.App {
    height: 100vh;
}


.pc-backgound {
    background-image: url(/public/img/pcFond.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh;
}



@media screen and(min-width:768px) {
    .pc-backgound {
        background-size: 50%;
    }
}



.card {
    background-color: rgba(90, 83, 134, 0.9);
}


.hauteurOrder {
    min-height: calc(82vh - 5em);
    margin-top: 50px;
}

.logo-center {
    position: absolute;
    top: 0.5em;
    margin-left: calc(50% - 82px);
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.logo-center:hover {
    transform: scale(1.2);
}

.cursor {
    cursor: pointer;
}

.footer-shadow {
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.56);
}

.liste-puce {
    list-style: none;

}

.price {
    margin-left: auto;
}

.modal-content-login {
    height: 20em
}

.modal-content-register {
    height: 28em
}

.max-area {
    max-height: 20em;
}

.spacing {
    margin-top: 8em;
}

.contact-footer {
    text-decoration: none;
    overflow:hidden ;
    /* max-width: 20px; */
    inline-size: 8em;
}