.color-green {
    background-color: #426F6A;
}


.color-yellow {
    background-color: #D9DBA9;
}

.color-orange {
    background-color: #E6C24D;
}

.App {
    height: 100vh;
}


.pc-backgound {
    background-image: url(/upload/pcFond.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}